#header{
background:peru;
width:715px;
height:70px;
}
#menu{
background:sandybrown;
width:150px;
height:300px;
}
#content{
background:burlywood;
width:715x;
height:300px;
}
#footer{
background:peru;
width:715px;
height:30px;
}
     